NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
BASIC_AUTH_USER=
BASIC_AUTH_PASSWORD=
HOSTINGER_MAIL_API_BASE_URL=https://api.mail.hostinger.com
HOSTINGER_MAIL_API_TOKEN=
HOSTINGER_MAIL_WEBHOOK_SECRET=
